{% extends "base.html" %}

{% block content %}
<div class="jumbotron animated fadeInDown" style="background-color: #343a40; color: white; margin-bottom: 0;">
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <div style="display: flex; flex-direction: row;">
            <div style="margin-right: 10px;;"><p>{{ form.submit(class_='btn btn-warning') }}</p></div>
        <div><button class="btn btn-warning" type="button" onclick="location.href = '/register';">Register</button></div>

        </div>
        
    </form>
</div>
{% endblock %}