{% extends "base.html" %}

{% block content %}
<div class="jumbotron animated fadeInDown" style="background-color: #343a40; color: white; margin-bottom: 0;">
    <h1 class="display-4">Watch Later List</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
</div>


<div style="padding-top: 40px; padding-bottom: 30px;">
    <div class="container searchFlex">

        
            
          {% for film in films %}
          
          <div class="cardFlex animated fadeInDown card shad text-white bg-dark mb-3" >
                <img class="card-img-top poster" src="{{film['img']}}" alt="Card image">
                <div class="card-body">
                <h4 class="card-title">{{film['title']}} <span style="color: orange;">{{'%0.1f'|format(film['rate'])}}</span></h4>
                <p class="card-text">{{film['genres']}}</p>
                <a href="/movie/{{film['id']}}" class="btn btn-warning">Learn More</a><a style="margin-left: 5px;" href="/watchlater/{{film['id']}}/delete" class="btn btn-danger">X</a>
                </div>
            </div>

          {% endfor %}

        </div>

   
    </div>
</div>

{% endblock %} 